@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');
body{
    color: white;

}
iframe{
    width: 100%;
    height: 400px;
}

#info img{
    float: left;
    height: 500px;
    width: 300px;
    margin: 10px;
    border-radius: 6px;
}

#genres{
    display: flex;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#genres p{
    color: black;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}