@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');
h1{
    
}

#title{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    cursor: pointer;
}
nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#search{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#search input{
    margin: 5px;    
    border-radius: 50px;
    border: 0;
    outline: none;
    padding-left:10px ;
    height: 30px;
}

#search button{
    height: 36px;
    width: 36px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    border-radius:50px ;
}

